body { 
    font-family: "Lato", sans-serif;
    background: #ffffff;
    color: rgb(247, 247, 247);
 }  /*ESSE BODY SÓ SERÁ USADO SE O BODY DA PAGINA FOR NA COR DO BACKGROUND */

a.container {
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #fff;
    padding: 10px 50px 50 px;    
}

a.animated-button:link,
a.animated-button:visited { 
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px 15px;
    color: rgb(72, 71, 179);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}

a.animated-button:link:after,
a.animated-button:visited::after{
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after{
    height: 450%;
}

a.animated-button.one {
    border: 2px solid #5264ae;
    width: 200px;
}

a.animated-button.one::after {
    background: #b3c1fa;
    transform: 
    translateX(-50%) 
    translateY(-50%)
    rotate(-25deg);
}
